apiVersion: apps/v1
kind: Deployment
metadata:
  name: kevin-dotnet
spec:
  selector:
    matchLabels:
      app: kevin-dotnet
  replicas: 1
  template:
    metadata:
      labels:
        app: kevin-dotnet
    spec:
      containers:
        - name: kevin-dotnet
          image: image-registry.openshift-image-registry.svc:5000/my-dev/kevin-dotnet
          ports:
            - containerPort: 8080

